#tabla-contenedor {
    width: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem;
  }
  
  table, th, td {
    border: 1px solid black;
  }

  td, th {
    text-align: center;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .content {
    margin-top: auto;
    margin-bottom: auto;
  }
